html{
    font-size: 62,5%;
}

body{
    background-color: lightgray;
    margin: 1rem;
}

h1 {
    margin: -1rem -1rem 0 -1rem;
    background-color: white;
    padding: 1rem 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: lightgray;
    font-size: 1.8rem;
    letter-spacing: 1rem;
    font-weight: 700;
}

ul{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 1rem 0;
}

li{
    font-weight: 700;
}

a{
    text-decoration: none;
    color:black;
}

#placeholder{
    padding: 1rem;
    background-color: white;
}

#description{
    padding: 1rem 0;
}